.card {
  padding: 1rem;
  text-align: center;
  background-color: white;
}

.containerImg {
  padding: 1rem;
  border: 1px solid #ffc0cb;
  margin-bottom: 1rem;
}

.containerDesc {
  background-color: white;
}

.title {
  margin-bottom: 1rem;
}

.containerDesc p {
  text-align: left;
}
