.product {
  min-width: 100%;
  border-bottom: 2px solid #ffc0cb;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: all .5s ease;
  opacity: 1;
  padding: 3px;
   
}

.containerImg {
  height: 110px;
  width: 120px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.img {
  max-width: calc(100% - 5px);
  max-height: calc(100% - 5px);
  display: block;
  margin: 0 auto;
}

.containerInfoProduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: lighter;
  flex: 1; 
  align-items: center;
}

.headInfo{
  display: flex;
  justify-content: space-between;
  flex: 1;
  min-width: 100%;
  margin-bottom: .5rem; 
}

.title,
.price{
  font-size: 22px;
  font-weight: lighter;
}

.quantity, 
.price{
  color: gray;
}

.price{
  margin-left: 5px;
  text-align: right;
  flex-grow: 1;
  max-width: 100%;
}

.containerQuantity{
  transform: translateY(1.5px);  
  margin: 0 3px;
}

.quantity{
  font-size: 18px; 
  margin: 0 3px;
}

.buttonQuantity{
  background-color: white;
  font-size: 20px;
  border: 1px solid #FFC0CB;
  outline: none;
  transition: background-color .5s ease;
  width: 30px;
  height: 30px;
  color: gray;

  &:hover{
   cursor: pointer;
   background-color: #FFC0CB;
   color: white;
   font-weight: bold; 
 }
}

@media screen and (min-width: 768px){
  .buttonQuantity{
   border-width: 2px;
  }
}
