.contacto {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  justify-content: center;
  margin-top: 4rem;
  padding: 0 1rem;

}

.form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.direction {
  align-self: center;
  text-align: center;
  font-size: 1rem;
  font-weight: lighter;
}

/* 
.diretion p,
.form__caja label {
  font-family: 'Roboto', sans-serif;
} */


/* .success {
  margin-top: 1.5rem;
  text-align: center;
  color: green;
  font-size: 1.5rem;
  height: 0;
  overflow: hidden;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
} */

