.container {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.616);
  z-index: 6;
  display: flex;
  justify-content: flex-end;
}

@keyframes showShoppingCart{
  from{
    transform: translateX(100vw);
  }

  to{
    transform: translateX(0vw);
  }
}

.shoppingCart {
  min-height: 100vh;
  max-height: 100vh;
  padding: 5px;
  max-width: 400px;
  min-width: 100vw;
  background-color: white;
  position: relative;
  animation-name: showShoppingCart;
  animation-duration: .7s;
}

.showShoppingCart{
  @extend .shoppingCart;
 }


@keyframes hiddenShoppingCart{
 from{
  transform: translateX(-1vw);
 }
 to{
  transform: translateX(99vw);
 }
}
.hiddenShoppingCart {
  animation-name: hiddenShoppingCart;
  animation-duration: .7s;
  animation-fill-mode: forwards;
}



@media screen and (min-width: 480px){
  .shoppingCart{
    min-width: 68vw;
  }
}

@media screen and (min-width: 760px){
  .shoppingCart{
    min-width: 42vw;
  }
}

.headerCart {
  min-width: 100%;
  padding-bottom: 10px;
  padding-left: 0;
}


.totalPrice {
  min-height: 25%;
  font-size: 25px;
  text-align: right;
  padding: 10px;
  font-weight: lighter;
}


@media screen and (min-width: 760px){
  .products {
    min-height: 85%;
    max-height: 85%;
  }
 
  .totalPrice {
    min-height: 15%;
    font-size: 25px;
  }
}
