.aboutUs {
  margin: 0 auto;
  margin-bottom: 2rem;
}

.containerImg {
  flex: 1 0 20rem;
  margin: 2rem auto 0 auto;
  height: 50vh;
  overflow: hidden;
}

.containerDescription {
  max-width: 100%;
  margin-top: 2rem;
  background-color: white;
  padding: 1rem;
}

.title {
  text-align: left;
  padding-bottom: 2rem;
}

@media screen and (min-width:768px) {
  .aboutUs {
    display: flex;
    justify-content: space-between;
  }

  .containerImg {
    z-index: 1;
    margin: -5rem -1rem 0 5rem;
    height: 120vh;
    -webkit-box-shadow: 0px 10px 22px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 22px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 22px -5px rgba(0, 0, 0, 0.75);
    transform: transate(-5rem, -1rem);
    -webkit-transform: transate(-5rem, -1rem);
    -moz-transform: transate(-5rem, -1rem);
    -ms-transform: transate(-5rem, -1rem);
    -o-transform: transate(-5rem, -1rem);
    margin-left: 5rem;
    min-width: 48%;
  }

  .containerImg>img {
    margin-bottom: -2rem;
    min-height: 100%;
    object-fit: cover;
  }

  .containerDescription {
    align-self: center;
    border: 2px solid #ffc0cb;
    padding: 3rem 2rem;
    z-index: 2;
    transform: translateX(-3rem);
    -webkit-transform: translateX(-3rem);
    -moz-transform: translateX(-3rem);
    -ms-transform: translateX(-3rem);
    -o-transform: translateX(-3rem);
  }
}
