.button {
  padding: 1rem;
  border: 2px solid #ffc0cb;
  display: block;
  text-align: center;
  position: relative;
  min-width: 90%;
  margin: 1rem auto 0 auto;
  background-color: white;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &:active{
    outline: none;
  }
}

.button::after,
.button::before {
  content: ' ';
  width: 51%;
  height: 0%;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: #ffc0cb;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
}

.button::before {
  top: 0;
  left: auto;
  right: 0;
}

.button:hover::after,
.button:hover::before {
  height: 100%;
}

.button a{
  position: relative;
  font-size: 1.25rem;
  z-index: 1;
  color: #333;
  pointer-events: none;
}
